{{<layout}}

{{$pageTitle}}Example 4{{/pageTitle}}

{{$content}}
<script>
(function() {
  document.getElementById('example1').className = '';
  document.getElementById('example1a').className = '';
  document.getElementById('example2').className = '';
  document.getElementById('example3').className = '';
  document.getElementById('example4').className = 'active';
})();
</script>
<main id="content" role="main">
  <header class="page-header">
  <h1>Example 4</h1>
  </header>


  <div class="documents-grid grid-size-4">
    <div class="inner-block">
      <section id="announcements" class="document-block documents-1"><h1 class="label">Announcements</h1>
  <div class="content">
    <ol class="document-list">
<li class="world_location_news_article document-row" id="world_location_news_article_414397">
      <h2><a href="/government/world-location-news/the-bidding-window-for-prosperity-fund-2015-16-is-now-open">The bidding window for Prosperity Fund 2015-16 is now open</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-11T14:37:00+00:00">11 November 2014</abbr></li>
        <li class="document-type">News article</li>
      </ul>
</li>    <li class="world_location_news_article document-row" id="world_location_news_article_414249">
      <h2><a href="/government/world-location-news/baroness-vermas-india-visit-to-strengthen-bilateral-ties">Baroness Verma’s India visit to strengthen bilateral ties</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-11T12:34:57+00:00">11 November 2014</abbr></li>
        <li class="document-type">News article</li>
      </ul>
</li>    <li class="world_location_news_article document-row" id="world_location_news_article_414115">
      <h2><a href="/government/world-location-news/uk-kerala-partnership-in-climate-change-the-aluva-story">UK, Kerala partnership in climate change: the Aluva story</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-11T11:04:54+00:00">11 November 2014</abbr></li>
        <li class="document-type">News article</li>
      </ul>
</li>
</ol>
<p class="see-all">
      <a href="/government/announcements?publication_filter_option=announcements&amp;topics%5B%5D=climate-change">See all announcements</a>
    </p>
  </div>
</section><section id="consultations" class="document-block documents-2"><h1 class="label">Consultations</h1>
  <div class="content">
    <ol class="document-list">
<li class="consultation document-row" id="consultation_413718">
      <h2><a href="/government/consultations/renewable-transport-fuel-obligation-proposed-changes-for-2015">Renewable Transport Fuel Obligation: proposed changes for 2015</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-10T13:04:24+00:00">10 November 2014</abbr></li>
        <li class="document-type">Consultation outcome</li>
      </ul>
</li>    <li class="consultation document-row" id="consultation_408237">
      <h2><a href="/government/consultations/electrically-assisted-pedal-cycles-changes-to-regulations">Electrically assisted pedal cycles: changes to regulations</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-03T09:30:00+00:00"> 3 November 2014</abbr></li>
        <li class="document-type">Open consultation</li>
      </ul>
</li>    <li class="consultation document-row" id="consultation_408247">
      <h2><a href="/government/consultations/climate-change-agreements-target-review-2016-discussion-paper-and-call-for-evidence">Climate Change Agreements target review 2016: discussion paper and call for evidence</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-10-29T10:00:00+00:00">29 October 2014</abbr></li>
        <li class="document-type">Open consultation</li>
      </ul>
</li>
</ol>
<p class="see-all">
      <a href="/government/consultations?publication_filter_option=consultations&amp;topics%5B%5D=climate-change">See all consultations</a>
    </p>
  </div>
</section><section id="publications" class="document-block documents-3"><h1 class="label">Publications</h1>
  <div class="content">
    <ol class="document-list">
<li class="publication document-row" id="publication_400199">
      <h2><a href="/government/publications/noise-contours-on-os-maps">Noise contours on Ordnance Survey maps</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-11T07:00:53+00:00">11 November 2014</abbr></li>
        <li class="document-type">Map</li>
      </ul>
</li>    <li class="publication document-row" id="publication_397559">
      <h2><a href="/government/publications/noise-exposure-contours-around-london-airports">Noise exposure contours around London airports</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-11T07:00:40+00:00">11 November 2014</abbr></li>
        <li class="document-type">Guidance</li>
      </ul>
</li>    <li class="publication document-row" id="publication_413474">
      <h2><a href="/government/publications/changes-to-rhi-domestic-scheme-eligibility">Changes to RHI domestic scheme eligibility</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-10T09:57:00+00:00">10 November 2014</abbr></li>
        <li class="document-type">Guidance</li>
      </ul>
</li>
</ol>
<p class="see-all">
      <a href="/government/publications?publication_filter_option=all&amp;topics%5B%5D=climate-change">See all publications</a>
    </p>
  </div>
</section><section id="statistics" class="document-block documents-4"><h1 class="label">Statistics</h1>
  <div class="content">
    <ol class="document-list">
<li class="publication document-row" id="publication_413401">
      <h2><a href="/government/publications/statistical-releases-timetable-for-twelve-months-ahead">Statistical releases: timetable for twelve months ahead</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-10T11:20:22+00:00">10 November 2014</abbr></li>
        <li class="document-type">Statistics</li>
      </ul>
</li>    <li class="publication document-row" id="publication_411236">
      <h2><a href="/government/publications/so2-nox-return-2014">SO2 NOx return 2014</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-05T12:12:23+00:00"> 5 November 2014</abbr></li>
        <li class="document-type">Statistics</li>
      </ul>
</li>    <li class="publication document-row" id="publication_410035">
      <h2><a href="/government/publications/public-attitudes-tracking-survey-wave-11">Public attitudes tracking survey: wave 11</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-04T09:31:13+00:00"> 4 November 2014</abbr></li>
        <li class="document-type">Statistics</li>
      </ul>
</li>
</ol>
<p class="see-all">
      <a href="/government/publications?publication_filter_option=statistics&amp;topics%5B%5D=climate-change">See all statistics</a>
    </p>
  </div>
</section>
</div>
  </div>

</main>
{{/content}}

{{/layout}}

