{{<layout}}

{{$pageTitle}}Example 1{{/pageTitle}}

{{$content}}
<script>
(function() {
  document.getElementById('example1').className = 'active';
  document.getElementById('example2').className = '';
  document.getElementById('example3').className = '';
  document.getElementById('example4').className = '';
})();
</script>

<div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
<li><a href="/">Home</a></li>
      <li><strong><a href="/schools-colleges">Schools and colleges</a></strong></li>
</ol>
</div>

<div id="wrapper">
<main id="content" role="main" class="specialist-sector-browse">


  <header class="page-header group">
  <div class="full-width">
    <h1>
    <span>Schools and colleges</span>
    Academies and free schools
    </h1>
    <aside class="metadata">
    <dl>
    <dt>From:</dt>
    <dd>
<a class="organisation-link" href="/government/organisations/department-for-education">Department for Education</a> and <a class="organisation-link" href="/government/organisations/education-funding-agency">Education Funding Agency</a>
</dd>
    </dl>
    </aside>
  </div>
  </header>

  <div class="beta-label">
<span class="beta">beta</span> This part of GOV.UK is being rebuilt – <a href="/help/beta">find out what this means</a>
</div>


  <div class="browse-container full-width">

    <nav class="index-list" aria-labelledby="a-to-z">
      <h1 id="a-to-z">A to Z</h1>
      <ul>
        <li>
          <a href="https://www.gov.uk/government/collections/academies-funding-payments-and-compliance">Academies: funding, payments and compliance</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/academies-research-priorities-and-questions">Academies: research priorities and questions</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/academy-and-free-school-presumption">Academy and free school presumption</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/academy-funding">Academy conversion and pre-opening funding</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/academy-conversion-process">Academy conversion process</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/academy-conversion-surplus-and-deficit-balance-transfer-process">Academy conversion: surplus and deficit balance transfer process</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/academy-sponsorship">Academy sponsorship</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/alternative-provision-academies">Alternative provision academies</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/alternative-provision-free-school-funding-agreements">Alternative provision free school funding agreements</a>
        </li>
        <li>
          <a href="https://www.gov.uk/become-an-academy-information-for-schools">Become an academy: information for schools</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/change-of-land-use-due-to-an-academy-conversion">Change of land use due to an academy conversion</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/free-schools-utcs-and-studio-schools-research-priorities-and-questions">Free schools, UTCs and studio schools: research priorities and questions</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/procurement-essentials">Free schools: procurement advice</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/improving-the-smsc-development-of-pupils-in-independent-schools">Improving the SMSC development of pupils in independent schools</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/innovative-thinking-within-free-schools">Innovative thinking within free schools</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/making-significant-changes-to-an-existing-academy">Making significant changes to an existing academy</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/opening-a-utc">Opening a UTC</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/opening-a-free-school">Opening a free school</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/opening-a-studio-school">Opening a studio school</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/mandatory-timeline-academies">Timeline for academies: mandatory</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/useful-timelines-academies">Timeline for academies: useful</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/mandatory-timeline-free-schools-utcs-and-studio-schools">Timeline for free schools, UTCs and studio schools: mandatory</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/useful-timelines-free-schools-utcs-and-studio-schools">Timeline for free schools, UTCs and studio schools: useful</a>
        </li>
      </ul></nav>

   <div class="example1">
   <h1 id="latest">Latest government announcements, publications, consultations and statistics</h1>
   </div>

  <div class="example1-topical">

  <div class="grid-row">
    <div class="column-half">

      <h2 class="bold-medium">Announcements</h2>
<section id="announcements" class="document-block documents-1">
        <div class="content">
          <ol class="document-list">
			<li class="speech document-row" id="speech_413360">
			      <h2><a href="/government/speeches/nicky-morgan-speaks-at-launch-of-your-life-campaign">Nicky Morgan speaks at launch of Your Life campaign</a></h2>
			      <ul class="attributes">
			<li class="publication-date"><abbr class="public_timestamp" title="2014-11-10T11:10:26+00:00">10 November 2014</abbr></li>
			        <li class="document-type">Speech</li>
			      </ul>
			</li>    <li class="news_article document-row" id="news_article_413003">
			      <h2><a href="/government/news/new-academically-rigorous-rs-gcse-backed-by-faith-groups">New academically rigorous RS GCSE backed by faith groups</a></h2>
			      <ul class="attributes">
			<li class="publication-date"><abbr class="public_timestamp" title="2014-11-07T16:07:21+00:00"> 7 November 2014</abbr></li>
			        <li class="document-type">Press release</li>
			      </ul>
			</li>
			</ol>
			<p class="see-all">
            <a href="/government/announcements?departments%5B%5D=department-for-education">See all announcements</a>
          </p>
        </div>
      </section>
    </div>

    <div class="column-half">
      <h2 class="bold-medium">Consultations</h2>
<section id="consultations" class="document-block documents-2">
        <div class="content">
          <ol class="document-list">
<li class="consultation document-row" id="consultation_412830">
      <h2><a href="/government/consultations/gcse-and-a-level-reform-religious-studies">GCSE and A level reform: religious studies</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-07T09:30:00+00:00"> 7 November 2014</abbr></li>
        <li class="document-type">Open consultation</li>
      </ul>
</li>    <li class="consultation document-row" id="consultation_409064">
      <h2><a href="/government/consultations/changes-to-the-school-admissions-code">Changes to the school admissions code</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-10-30T16:48:46+00:00">30 October 2014</abbr></li>
        <li class="document-type">Consultation outcome</li>
      </ul>
</li>
</ol>
<p class="see-all">
            <a href="/government/publications?departments%5B%5D=department-for-education&amp;publication_filter_option=consultations">See all consultations</a>
          </p>
        </div>
      </section>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">Publications</h2>
<section id="publications" class="document-block documents-3">
        <div class="content">
          <ol class="document-list">
<li class="publication document-row" id="publication_414067">
      <h2><a href="/government/publications/school-workforce-census-2014-guide-for-school-employed-staff">School workforce census 2014: guide for school-employed staff</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-11T10:54:11+00:00">11 November 2014</abbr></li>
        <li class="document-type">Guidance</li>
      </ul>
</li>    <li class="publication document-row" id="publication_413989">
      <h2><a href="/government/publications/school-workforce-census-2014-xml-generators">School workforce census 2014: XML generators</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-11T10:05:57+00:00">11 November 2014</abbr></li>
        <li class="document-type">Guidance</li>
      </ul>
</li>
</ol>
<p class="see-all">
            <a href="/government/publications?departments%5B%5D=department-for-education">See all publications</a>
          </p>
        </div>
      </section>
    </div>


    <div class="column-half">
      <h2 class="bold-medium">Statistics</h2>
<section id="statistics-publications" class="document-block documents-4">
        <div class="content">
          <ol class="document-list">
<li class="publication document-row" id="publication_411826">
      <h2><a href="/government/publications/education-and-training-statistics-for-the-uk-2014">Education and training statistics for the UK: 2014</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-11-06T09:31:20+00:00"> 6 November 2014</abbr></li>
        <li class="document-type">Statistics</li>
      </ul>
</li>    <li class="publication document-row" id="publication_409283">
      <h2><a href="/government/publications/characteristics-of-children-in-need-2013-to-2014">Characteristics of children in need: 2013 to 2014</a></h2>
      <ul class="attributes">
<li class="publication-date"><abbr class="public_timestamp" title="2014-10-31T13:11:06+00:00">31 October 2014</abbr></li>
        <li class="document-type">Statistics - national statistics</li>
      </ul>
</li>
</ol>
<p class="see-all">
            <a href="/government/publications?departments%5B%5D=department-for-education&amp;publication_filter_option=statistics">See all statistics</a>
          </p>
        </div>
      </section>
    </div>
  </div>

      </div>

</div>


</main>
</div>
{{/content}}

{{/layout}}
