{{<layout}}

{{$pageTitle}}Early learning and childcare{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
<li><a href="/">Home</a></li>
      <li><strong><a href="/schools-colleges">Schools and colleges</a></strong></li>
</ol>
</div>

<div id="wrapper">
<main id="content" role="main" class="group category-page">

<header class="page-header group">
    <div class="full-width">
      <h1>
        <span>Schools and colleges</span>
        Early learning and childcare
      </h1>
      <aside class="metadata-list">
        <dl>
          <dt>Published by:</dt>
          <dd><a href="#">Department for Education</a></dd>
        </dl>
      </aside>
    </div>
  </header>

  <div class="browse-container">
    <h2>Early years foundation stage</h2>
    <ol>
      <li><a href="https://www.gov.uk/early-years-foundation-stage">Early years foundation stage: an overview for parents and carers</a></li>
      <li><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">Early years foundation stage: detailed information</a></li>
      <li><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework">Early years foundation stage framework: until 1 September 2014</a></li>
      <li><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-assessment-and-reporting-2014">Early years foundation stage: assessment and reporting 2014</a></li>
      <li><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-profile-handbook-2014">Early years foundation stage profile: handbook 2014</a></li>
      <li><a href="https://www.gov.uk/government/publications/early-years-outcomes">Early years outcomes</a></li>
      <li><a href="https://www.gov.uk/government/publications/eyfs-profile-exemplication-materials">EYFS profile: exemplification materials</a></li>
      <li><a href="https://www.gov.uk/local-authority-moderation-of-the-eyfs-profile">Local authority moderation of the EYFS profile</a></li>
      <li><a href="https://www.gov.uk/progress-check-at-age-2-and-eyfs-profile">Progress check at age 2 and EYFS profile</a></li>
      <li><a href="https://www.gov.uk/government/collections/tickell-review-reports">Collection: Tickell review reports</a></li>
    </ol>

    <h2>Childcare: for parents and carers</h2>
    <ol>
      <li><a href="https://www.gov.uk/childcare-out-of-school-hours">Childcare out of school hours</a></li>
      <li><a href="https://www.gov.uk/sure-start-contact">Contact Sure Start</a></li>
      <li><a href="https://www.gov.uk/find-sure-start-childrens-centre">Find a Sure Start Children's Centre</a></li>
      <li><a href="https://www.gov.uk/free-early-education">Free early education and childcare</a></li>
      <li><a href="https://www.gov.uk/find-registered-childminder">Find a registered childminder</a></li>
      <li><a href="https://www.gov.uk/help-with-childcare-costs">Help with childcare costs</a></li>
      <li><a href="https://www.gov.uk/government/collections/supporting-parents-in-promoting-early-learning">Collection: supporting parents in promoting early learning</a></li>
      <li><a href="https://www.gov.uk/after-school-holiday-club">After school and holiday clubs</a></li>
    </ol>

    <h2>Childcare: for providers</h2>
    <ol>
      <li><a href="https://www.gov.uk/government/collections/early-learning-and-childcare-guidance-for-early-years-providers">Early learning and childcare: guidance for providers</a></li>
      <li><a href="https://www.gov.uk/government/publications/early-education-and-childcare">Early education and childcare: statutory guidance</a></li>
      <li><a href="https://www.gov.uk/government/publications/sure-start-childrens-centres">Sure Start children's centres: statutory guidance</a></li>
      <li><a href="https://www.gov.uk/sure-start-childrens-centres-local-authorities-duties">Sure Start children's centres: local authorities' duties</a></li>
    </ol>

    <h2>Research and analysis</h2>
    <ol>
      <li><a href="https://www.gov.uk/government/publications/childcare-sufficiency-and-sustainability-in-disadvantaged-areas">Childcare sufficiency and sustainability in disadvantaged areas</a></li>
      <li><a href="https://www.gov.uk/government/publications/early-education-and-childcare-research-priorities-and-questions">Early education and childcare: research priorities and questions</a></li>
      <li><a href="https://www.gov.uk/government/publications/evidence-to-inform-the-childcare-commission">Evidence to inform the childcare commission</a></li>
      <li><a href="https://www.gov.uk/government/publications/parents-views-and-experiences-of-childcare">Parents’ views and experiences of childcare</a></li>
    </ol>

    <style>
    ol.window > li {
      width: 100%;
    }
    ol.window > li div {
      width: 49%;
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      vertical-align: top;
      margin-bottom: 32px;
    }
    ol.window h1 {
      font-weight: bold;
      font-size: 19px;
    }
    ol.window ol {
      margin: 0 !important;
      float: none !important;
      display: block !important;
      width: 90% !important;
    }
    ol.document-list {
      clear: none !important;
    }
    ol.window h2 {
      width: 100% !important;
      margin: 0 !important;
      position: static!important;
    }
    p.see-all {
      font-size: 16px;
    }
    </style>

    <h2>Latest news</h2>
    <ol class="window">
    <li>

    <div>
    <h1>Announcements</h1>
        <ol class="document-list">
        <li class="consultation document-row" id="consultation_416957">
              <h2><a href="/government/consultations/funding-for-children-and-young-people-with-send">Funding for children and young people with SEND</a></h2>
        </li>    <li class="consultation document-row" id="consultation_415624">
              <h2><a href="/government/consultations/mandatory-qualification-specialist-teachers">Mandatory qualification: specialist teachers</a></h2>
        </li>    <li class="consultation document-row" id="consultation_412622">
              <h2><a href="/government/consultations/religious-studies-gcses-as-and-a-levels-new-qualifications-for-2016">Religious studies GCSEs, AS and A levels: new qualifications for 2016</a></h2>
        </li>
        </ol>
        <p class="see-all"><a href="/example-3">See all announcements</a></p>
    </div>

    <div>
    <h1>Consultations</h1>
        <ol class="document-list">
        <li class="consultation document-row" id="consultation_416957">
              <h2><a href="/government/consultations/funding-for-children-and-young-people-with-send">Funding for children and young people with SEND</a></h2>
        </li>    <li class="consultation document-row" id="consultation_415624">
              <h2><a href="/government/consultations/mandatory-qualification-specialist-teachers">Mandatory qualification: specialist teachers</a></h2>
        </li>    <li class="consultation document-row" id="consultation_412622">
              <h2><a href="/government/consultations/religious-studies-gcses-as-and-a-levels-new-qualifications-for-2016">Religious studies GCSEs, AS and A levels: new qualifications for 2016</a></h2>
        </li>
        </ol>
        <p class="see-all"><a href="/example-3">See all consultations</a></p>
    </div>
    </li>
    <li>
    <div>
    <h1>Publications</h1>

        <ol class="document-list">
<li class="publication document-row" id="publication_416529">
      <h2><a href="/government/publications/preventing-and-tackling-bullying">Preventing bullying</a></h2>
</li>    <li class="publication document-row" id="publication_414751">
      <h2><a href="/government/publications/estimates-of-bullying-of-year-9-pupils-in-england">Estimates of bullying of year 9 pupils in England</a></h2>
</li>    <li class="publication document-row" id="publication_416908">
      <h2><a href="/government/publications/review-of-related-party-transactions-in-academies">Review of related party transactions in academies</a></h2>
</li>
</ol>
<p class="see-all">
      <a href="/example-3">See all publications</a>
    </p>
    </div>


    <div>
          <h1>Statistics</h1>
    <ol class="document-list">
<li class="publication document-row" id="publication_417109">
      <h2><a href="/government/publications/destinations-of-key-stage-4-and-key-stage-5-pupils-2011-to-2012">Destinations of key stage 4 and key stage 5 pupils: 2011 to 2012</a></h2>
</li>    <li class="publication document-row" id="publication_417247">
      <h2><a href="/government/publications/destinations-of-key-stage-4-and-key-stage-5-pupils-by-characteristics-academic-year-2010-to-2011">Destinations of KS4 and KS5 pupils by characteristics: 2010 to 2011</a></h2>
</li>    <li class="publication document-row" id="publication_397222">
      <h2><a href="/government/publications/november-gcse-entries-for-england-provisional-figures-october-2014">November GCSE entries for England, provisional figures: October 2014</a></h2>
</li>
</ol>
<p class="see-all">
      <a href="/example-3">See all statistics</a>
    </p>
    </div>
    </li>
    </ol>

  </div>


</main>
</div>
{{/content}}

{{/layout}}
