{{<layout}}

{{$pageTitle}}Example 1{{/pageTitle}}

{{$content}}
<script>
(function() {
  document.getElementById('example1').className = 'active';
  document.getElementById('example2').className = '';
  document.getElementById('example3').className = '';
  document.getElementById('example4').className = '';
})();
</script>

<div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
<li><a href="/">Home</a></li>
      <li><strong><a href="/schools-colleges">Schools and colleges</a></strong></li>
</ol>
</div>

<div id="wrapper">
<main id="content" role="main" class="specialist-sector-browse">


  <header class="page-header group">
  <div class="full-width">
    <h1>
    <span>Schools and colleges</span>
    Academies and free schools
    </h1>
    <aside class="metadata">
    <dl>
    <dt>From:</dt>
    <dd>
<a class="organisation-link" href="/government/organisations/department-for-education">Department for Education</a> and <a class="organisation-link" href="/government/organisations/education-funding-agency">Education Funding Agency</a>
</dd>
    </dl>
    </aside>
  </div>
  </header>

  <div class="beta-label">
<span class="beta">beta</span> This part of GOV.UK is being rebuilt – <a href="/help/beta">find out what this means</a>
</div>


  <div class="browse-container full-width">

    <nav class="index-list" aria-labelledby="a-to-z">
      <h1 id="a-to-z">A to Z</h1>
      <ul>
        <li>
          <a href="https://www.gov.uk/government/collections/academies-funding-payments-and-compliance">Academies: funding, payments and compliance</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/academies-research-priorities-and-questions">Academies: research priorities and questions</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/academy-and-free-school-presumption">Academy and free school presumption</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/academy-funding">Academy conversion and pre-opening funding</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/academy-conversion-process">Academy conversion process</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/academy-conversion-surplus-and-deficit-balance-transfer-process">Academy conversion: surplus and deficit balance transfer process</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/academy-sponsorship">Academy sponsorship</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/alternative-provision-academies">Alternative provision academies</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/alternative-provision-free-school-funding-agreements">Alternative provision free school funding agreements</a>
        </li>
        <li>
          <a href="https://www.gov.uk/become-an-academy-information-for-schools">Become an academy: information for schools</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/change-of-land-use-due-to-an-academy-conversion">Change of land use due to an academy conversion</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/free-schools-utcs-and-studio-schools-research-priorities-and-questions">Free schools, UTCs and studio schools: research priorities and questions</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/procurement-essentials">Free schools: procurement advice</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/improving-the-smsc-development-of-pupils-in-independent-schools">Improving the SMSC development of pupils in independent schools</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/innovative-thinking-within-free-schools">Innovative thinking within free schools</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/making-significant-changes-to-an-existing-academy">Making significant changes to an existing academy</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/opening-a-utc">Opening a UTC</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/opening-a-free-school">Opening a free school</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/collections/opening-a-studio-school">Opening a studio school</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/mandatory-timeline-academies">Timeline for academies: mandatory</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/useful-timelines-academies">Timeline for academies: useful</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/mandatory-timeline-free-schools-utcs-and-studio-schools">Timeline for free schools, UTCs and studio schools: mandatory</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/useful-timelines-free-schools-utcs-and-studio-schools">Timeline for free schools, UTCs and studio schools: useful</a>
        </li>
      </ul></nav>

   <h2 id="latest">Latest government announcements, publications, consultations and statistics</h2>


    <nav class="index-list" aria-labelledby="latest">

      <ul><li>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">Announcements</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
    <div class="column-half">
      <h2 class="bold-medium">Consultations</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">Publications</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
    <div class="column-half">
      <h2 class="bold-medium">Statistics</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
  </div>

      </li></ul>
    </nav>

</div>








</main>
</div>
{{/content}}

{{/layout}}
