{{<layout}}

{{$pageTitle}}Example 2{{/pageTitle}}

{{$content}}
<script>
(function() {
  document.getElementById('example1').className = '';
  document.getElementById('example2').className = 'active';
  document.getElementById('example3').className = '';
  document.getElementById('example4').className = '';
})();
</script>

<div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
<li><a href="/">Home</a></li>
      <li><strong><a href="/schools-colleges">Schools and colleges</a></strong></li>
</ol>
</div>

<div id="wrapper">
<main id="content" role="main" class="specialist-sector-browse">


  <header class="page-header group">
  <div class="full-width">
    <h1>
    <span>Schools and colleges</span>
    Academies and free schools
    </h1>
    <aside class="metadata">
    <dl>
    <dt>From:</dt>
    <dd>
<a class="organisation-link" href="/government/organisations/department-for-education">Department for Education</a> and <a class="organisation-link" href="/government/organisations/education-funding-agency">Education Funding Agency</a>
</dd>
    </dl>
    </aside>
  </div>
  </header>

  <div class="beta-label">
<span class="beta">beta</span> This part of GOV.UK is being rebuilt – <a href="/help/beta">find out what this means</a>
</div>

<div class="browse-container full-width">


  <ul class="changed-documents">
<li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/academy-and-free-school-presumption">Academy and free school presumption</a></h3>
        <time class="updated-at" datetime="2014-10-15T16:17:19+01:00">
          15 October 2014
        </time><p>
            Updated document to clarify the process for assessing proposals to establish and run new schools.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/collections/opening-a-free-school">Opening a free school</a></h3>
        <time class="updated-at" datetime="2014-09-30T12:21:33+01:00">
          30 September 2014
        </time><p>
            Updated the pre-opening guide for all types of free school.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/innovative-thinking-within-free-schools">Innovative thinking within free schools</a></h3>
        <time class="updated-at" datetime="2014-09-30T09:31:00+01:00">
          30 September 2014
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/mandatory-timeline-free-schools-utcs-and-studio-schools">Timeline for free schools, UTCs and studio schools: mandatory</a></h3>
        <time class="updated-at" datetime="2014-09-11T10:46:52+01:00">
          11 September 2014
        </time><p>
            Autumn term update.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/mandatory-timeline-academies">Timeline for academies: mandatory</a></h3>
        <time class="updated-at" datetime="2014-09-11T10:45:39+01:00">
          11 September 2014
        </time><p>
            Autumn term update.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/useful-timelines-free-schools-utcs-and-studio-schools">Timeline for free schools, UTCs and studio schools: useful</a></h3>
        <time class="updated-at" datetime="2014-09-11T10:43:44+01:00">
          11 September 2014
        </time><p>
            Autumn term update.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/useful-timelines-academies">Timeline for academies: useful</a></h3>
        <time class="updated-at" datetime="2014-09-11T10:43:10+01:00">
          11 September 2014
        </time><p>
            Autumn term update.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/collections/opening-a-utc">Opening a UTC</a></h3>
        <time class="updated-at" datetime="2014-08-08T12:33:55+01:00">
          8 August 2014
        </time><p>
            Added the UTC revenue funding guide for the 2014 to 2015 academic year.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/collections/free-school-funding">Free school funding</a></h3>
        <time class="updated-at" datetime="2014-07-28T16:42:48+01:00">
          28 July 2014
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/collections/academy-conversion-process">Academy conversion process</a></h3>
        <time class="updated-at" datetime="2014-07-04T12:21:04+01:00">
          4 July 2014
        </time><p>
            Academies risk protection arrangement (RPA) details added.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/collections/academies-funding-payments-and-compliance">Academies: funding, payments and compliance</a></h3>
        <time class="updated-at" datetime="2014-06-20T13:51:31+01:00">
          20 June 2014
        </time><p>
            Added additional funding and compliance items.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/academy-conversion-surplus-and-deficit-balance-transfer-process">Academy conversion: surplus and deficit balance transfer process</a></h3>
        <time class="updated-at" datetime="2014-05-19T16:56:00+01:00">
          19 May 2014
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/procurement-essentials">Free schools: procurement advice</a></h3>
        <time class="updated-at" datetime="2014-03-26T11:22:00+00:00">
          26 March 2014
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/academies-research-priorities-and-questions">Academies: research priorities and questions</a></h3>
        <time class="updated-at" datetime="2014-03-13T09:34:00+00:00">
          13 March 2014
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/free-schools-utcs-and-studio-schools-research-priorities-and-questions">Free schools, UTCs and studio schools: research priorities and questions</a></h3>
        <time class="updated-at" datetime="2014-03-13T09:32:00+00:00">
          13 March 2014
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/collections/alternative-provision-free-school-funding-agreements">Alternative provision free school funding agreements</a></h3>
        <time class="updated-at" datetime="2014-01-31T15:01:00+00:00">
          31 January 2014
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/making-significant-changes-to-an-existing-academy">Making significant changes to an existing academy</a></h3>
        <time class="updated-at" datetime="2014-01-29T16:46:37+00:00">
          29 January 2014
        </time><p>
            A revised 'Preparing a business case for a significant change at an existing academy' advice document and a business case guide document have been added to this page.

          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/collections/academy-funding">Academy conversion and pre-opening funding</a></h3>
        <time class="updated-at" datetime="2014-01-28T12:05:36+00:00">
          28 January 2014
        </time><p>
            Added primary chains grant claim forms.
          </p>
      </li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/improving-the-smsc-development-of-pupils-in-independent-schools">Improving the SMSC development of pupils in independent schools</a></h3>
        <time class="updated-at" datetime="2013-11-30T09:00:00+00:00">
          30 November 2013
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/collections/academy-sponsorship">Academy sponsorship</a></h3>
        <time class="updated-at" datetime="2013-11-19T11:19:00+00:00">
          19 November 2013
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/collections/alternative-provision-academies">Alternative provision academies</a></h3>
        <time class="updated-at" datetime="2013-11-19T11:14:00+00:00">
          19 November 2013
        </time>
</li>
      <li>
        <h3><a href="https://www.preview.alphagov.co.uk/government/publications/change-of-land-use-due-to-an-academy-conversion">Change of land use due to an academy conversion</a></h3>
        <time class="updated-at" datetime="2010-12-17T00:00:00+00:00">
          17 December 2010
        </time>
</li>
  </ul>
</div>


</main>
</div>
{{/content}}

{{/layout}}
