
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]--><head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Universal Credit - Policies - GOV.UK</title>
<script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script><!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-6820d35a129a3ffde628d8447156c5dc.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]--><!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie6-4ce1b714659f23f4b262761bb2410b40.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie7-5dacabc4c21165dd2db29145e15eb57c.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie8-0153d61aaa359828709c0429cb331cfe.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-print-95606431bbfe23b0e4ee9e5ed3346c47.css" media="print" rel="stylesheet" type="text/css">
<!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["https://assets.digital.cabinet-office.gov.uk/static/fonts-ie8-1e4512e11cb3ee77b91f723129629e95.css"]},
       c="https://assets.digital.cabinet-office.gov.uk/static/vendor/goog/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]--><!--[if gte IE 9]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/fonts-83e596ae63d072e22b7f34d2b5482bde.css" media="all" rel="stylesheet" type="text/css">
<!--<![endif]--><!--[if lt IE 9]>
      <script src="https://assets.digital.cabinet-office.gov.uk/static/ie-fc5bd25c5f46587b9bff917417ab2b7f.js" type="text/javascript"></script>
    <![endif]--><link rel="shortcut icon" href="https://assets.digital.cabinet-office.gov.uk/static/favicon-9269d2d9f40d20236f60a3dbc448679a.ico" type="image/x-icon">
<!-- Size for iPad and iPad mini (high resolution) --><link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-152x152-58591dcff066ba321b89a9e208ccedab.png">
<!-- Size for iPhone and iPod touch (high resolution) --><link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-120x120-b6a680ead8eb531b9c28cc056836ad06.png">
<!-- Size for iPad 2 and iPad mini (standard resolution) --><link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-76x76-17dd3f1e168561f9099ba92e3292e607.png">
<!-- Default non-defined size, also used for Android 2.1+ devices --><link rel="apple-touch-icon-precomposed" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-60x60-dc9aa421bedcf2c08c4e8f3f230f780d.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://assets.digital.cabinet-office.gov.uk/static/opengraph-image-85fc698c83c77d8d8cb5467a44cc12a5.png">
<!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ee5a70cd95d6d0a46678d701e422ed11.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]--><!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ie6-9c8654f844cf4715c03bebd0137c8d63.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ie7-fd1760d9bf047a998115414bc1bd5885.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ie8-9d36d36b967e1277a53148b164320b43.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><link href="https://assets.digital.cabinet-office.gov.uk/static/print-a510f019943a387a36079430ead3dda8.css" media="print" rel="stylesheet" type="text/css">
<!--[if gt IE 9]><!--><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/base-32de62f14953cde7e15d596b7cb572aa.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]--><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/print-c7cd828c0de1f797a1dbeda384ee3265.css" media="print" rel="stylesheet" type="text/css">
<link href="https://www.gov.uk/government/feed" rel="alternate" title="Recent updates" type="application/atom+xml">
<meta content="True" name="HandheldFriendly">
<meta content="320" name="MobileOptimized">
<meta content="How the government is getting Britain working and helping people break the cycle of benefit dependency." name="description">
<!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/finder-frontend/application-a6f4766ed2e85182fde44b5bc8a91eb7.css" media="screen" rel="stylesheet">
<!--<![endif]-->
<meta content="authenticity_token" name="csrf-param">
<meta content="PeH+b9OlESVVbXMUBTDKOEzojDbZ5KObWJe+PBGIV0Y=" name="csrf-token">
<!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/base-ie6-c452585bd4d5a1b36264362b1f2ef0c9.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/base-ie7-608b2cd9a0a3cb95a6c7da8b18bafccd.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/base-ie8-09771cb28c713f600486c4734c20f9f2.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 8;</script><![endif]--><!--[if IE 9]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/base-ie9-58ce2937fe90a5d49d7f686002cb0428.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 9;</script><![endif]-->

<style>
.related {
position: absolute;
right: 1.75em;
width: 18.75em;
border-top: 10px solid #005ea5;
margin-top: 3em;
}
.related h2 {
font-family: "nta",Arial,sans-serif;
font-size: 24px;
line-height: 1.25;
font-weight: 400;
text-transform: none;
font-weight: 600;
color: #0b0c0c;
margin-top: 0.3em;
margin-bottom: 0.5em;
position: relative;
}
.related ul {
font-family: "nta",Arial,sans-serif;
font-size: 16px;
line-height: 1.25;
font-weight: 400;
text-transform: none;
list-style: none;
margin: 0;
padding: 0;
overflow: hidden;
}
.related li {
margin-bottom: 0.75em;
padding-left: 0;
}
.related li a {
background-position: 0 -287px;
background-repeat: no-repeat;
display: block;
line-height: 1.25em;
orphans: 2;
}
#whitehall-wrapper .metadata-list {
  width: 100% !important;
}
#whitehall-wrapper .metadata-list dl {
    display: inline;
    font-family: "nta","GDS-Regular",sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-transform: none;
    padding-top: 6px;
    padding-bottom: 4px
}
@media (max-width: 640px) {
    #whitehall-wrapper .metadata-list dl {
        font-size:12px;
        line-height: 1.25;
        padding-top: 4px;
        padding-bottom: 1px
    }
}
#whitehall-wrapper .metadata-list dl dt {
    float: left;
    clear: left;
    width: 8em
}
@media (min-width: 641px) {
    #whitehall-wrapper .metadata-list dl dt {
        width:auto;
        min-width: 120px;
        padding-right: 10px
    }
}
#whitehall-wrapper .metadata-list dl dd {
    float: left;
    width: 70%;
}
</style>
</head>
<body class="website government">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <div class="outer-block">
        <div class="inner-block">
            <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
        </div>
      </div>
    </div>
    <!--end global-cookie-message-->

    <header role="banner" id="global-header" class=" with-proposition"><div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-c09acb07e4d1d5d558f5a0bc53e9e36d.png" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
</div>
  </form>

        </div>

      <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
  <nav id="proposition-menu" class="no-proposition-name"><ul id="proposition-links">
<li><a href="/government/organisations" class="">Departments</a></li>
      <li><a href="/government/world" class="">Worldwide</a></li>
      <li><a href="/government/how-government-works" class="">How government works</a></li>
      <li><a href="/government/get-involved" class="">Get involved</a></li>
      <li class="clear-child"><a href="/government/policies" class="active">Policies</a></li>
      <li><a href="/government/publications" class="">Publications</a></li>
      <li><a href="/government/publications?publication_filter_option=consultations" class="">Consultations</a></li>
      <li><a href="/government/statistics" class="">Statistics</a></li>
      <li><a href="/government/announcements" class="">Announcements</a></li>
    </ul></nav>
</div>
</div>
</div>
    </header><!--end header--><div id="user-satisfaction-survey-container" data-survey-url="https://www.surveymonkey.com/s/6HZFSVC"></div>




    <div id="global-header-bar">
      <div class="inner-block">
        <div class="header-bar"></div>
      </div>
    </div>
    <!--end global-header-bar-->

        <div class="header-context group"><!-- deliberately empty --></div>

  <div id="whitehall-wrapper">

  <main id="content" role="main" class="whitehall-content"><div id="page" class="">

<article class="policy document_page policy" id="policy_364798">


<header class="block headings-block"><div class="inner-block floated-children">
      <div class="heading-with-extra">
  <div class="inner-heading">
    <p class="type">Policy</p>
    <h1>Universal Credit</h1>
  </div>
</div>

<aside class="meta metadata-list"><div class="inner-heading">
    <dl class="js-track-metadata-links" data-trackposition="top" style="font-size: 14px">
<dt>From:</dt>
        <dd class="js-hide-extra-metadata">
<a href="http://www.gov.uk/government/organisations/department-for-work-pensions" class="organisation-link">Department for Work and Pensions</a>
</dd>

        <dt>Part of:</dt>
        <dd class="js-hide-extra-metadata"><a href="/government/policies/benefits-reform">Benefits reform</a></dd>

    </dl>
</div>
</aside>

</div>
  </header>



  <div class="block-3" style="float: left; padding-bottom: 0">
    <div class="inner-block metadata-list" style="box-sizing: border-box">

<p style="font-size: 19px">Universal Credit brings together 6 benefits for people who are out of work or on a low income into a single payment. It's being introduced in stages, starting in October 2013. By the end of 2017 it's expected to be available across England and Wales. <!-- <a href="#">Read more</a> --></p>
<!-- <dl>
<dt>Budget:</dt><dd>£12.8 billion over scheme lifetime</dd>
<dt>Department</dt><dd>DWP</dd>
</dl> -->
</div>
    </div>


  <div class="block">
    <div class="inner-block">
      <div class="meta-three">
          <nav class="activity-navigation"><ul>
          <li><a class="current" href="/government/policies/universal-credit">Latest</a></li>
<li><a href="/government/policies/universal-credit-timeline">Timeline</a></li>

  </ul></nav>
</div>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block" id="finder-frontend">

<form method="get" action="cma-cases" class="js-live-search-form">
      <div class="filter text-filter">
        <label class="legend" for="search">Filter</label>
        <input value="" type="text" name="keywords" id="search" aria-controls="js-search-results-info" class="text">
</div>
      <div class="filter checkbox-filter js-openable-filter" tabindex="0">
  <div class="head">
    <span class="legend">Result type</span>
    <div class="controls">
      <a class="clear-selected js-hidden">clear</a>
      <div class="toggle" style="display: none"></div>
    </div>
  </div>
  <div class="checkbox-container">
    <div class="js-auto-height-inner">
      <label for="ca98-and-civil-cartels">
        <input type="checkbox" name="case_type[]" value="ca98-and-civil-cartels" id="ca98-and-civil-cartels" aria-controls="js-search-results-info">
        Announcements
      </label>
      <label for="criminal-cartels">
        <input type="checkbox" name="case_type[]" value="criminal-cartels" id="criminal-cartels" aria-controls="js-search-results-info">
        Consultations
      </label>
      <label for="markets">
        <input type="checkbox" name="case_type[]" value="markets" id="markets" aria-controls="js-search-results-info">
        Policy papers and reports
      </label>
      <label for="mergers">
        <input type="checkbox" name="case_type[]" value="mergers" id="mergers" aria-controls="js-search-results-info">
        Research and analysis
      </label>
      <label for="consumer-enforcement">
        <input type="checkbox" name="case_type[]" value="consumer-enforcement" id="consumer-enforcement" aria-controls="js-search-results-info">
        Statistics and data
      </label>
    </div>
  </div>
</div>

      <input type="submit" value="Filter results" class="button js-live-search-fallback">
</form>



</div>
  </div>
<div class="block-3">
    <div class="inner-block">




        <div class="feeds" style="float: right">
    <span>Get updates to this list</span>
    <a href="/government/email-signup/new?email_signup%5Bfeed%5D=https%3A%2F%2Fwww.gov.uk%2Fgovernment%2Fpolicies%2Fmaking-schools-and-colleges-more-accountable-and-giving-them-more-control-over-their-budget%2Factivity.atom" class="govdelivery">email</a>&nbsp;<a href="https://www.gov.uk/government/policies/making-schools-and-colleges-more-accountable-and-giving-them-more-control-over-their-budget/activity.atom" class="feed js-feed">feed</a>
    <div class="feed-panel js-feed-panel">
      <h3>Copy and paste this URL in to your feed reader</h3>
      <input value="https://www.gov.uk/government/policies/making-schools-and-colleges-more-accountable-and-giving-them-more-control-over-their-budget/activity.atom">
</div>
  </div>

        <section id="recently-changed" class="latest-documents">
    <ol class="document-list ">


<li class="news_article document-row" id="news_article_421742">
          <h3><a href="/government/news/welfare-revolution-rolls-out-to-families-universal-credit-to-be-in-a-third-of-jobcentres-by-spring">Welfare revolution rolls out to families: Universal Credit to be in a third of Jobcentres by spring</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-11-25T00:15:00+00:00">25 November 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>



<li class="news_article document-row" id="news_article_416133">
          <h3><a href="/government/news/universal-credit-support-boost-for-social-landlords">Universal Credit support boost for social landlords</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-11-13T10:54:58+00:00">13 November 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>



<li class="news_article document-row" id="news_article_405227">
          <h3><a href="/government/news/universal-credit-transforming-the-welfare-state">Universal Credit: transforming the welfare state</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-10-22T12:18:00+01:00">22 October 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="publication document-row" id="publication_404753">
          <h3><a href="/government/publications/universal-credit-pathfinder-evaluation">Universal Credit Pathfinder Evaluation</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-10-22T11:30:00+01:00">22 October 2014</abbr>
            </li>
            <li class="display-type">Research and analysis</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="publication document-row" id="publication_422498">
          <h3><a href="/government/publications/universal-credit-at-work">Universal Credit at work</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-10-22T11:30:00+01:00">22 October 2014</abbr>
            </li>
            <li class="display-type">Policy paper</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="consultation document-row" id="consultation_400377">
          <h3><a href="/government/consultations/local-welfare-provision-in-2015-to-2016">Local welfare provision in 2015 to 2016</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-10-10T00:00:00+01:00">10 October 2014</abbr>
            </li>
            <li class="display-type">Closed consultation</li>
              <li class="organisations">
                <abbr title="Department for Communities and Local Government">DCLG</abbr>, <abbr title="Department for Work and Pensions">DWP</abbr> and <abbr title="HM Treasury">HMT</abbr>
              </li>
        </ul>
</li>

<li class="document_collection document-row" id="document_collection_397870">
          <h3><a href="/government/collections/universal-credit-for-local-authorities">Universal Credit for local authorities</a></h3>
          <ul class="attributes">
<li class="date">
              Updated
              <abbr class="published-at date" title="2014-10-06T17:36:41+01:00"> 6 October 2014</abbr>
            </li>
            <li class="display-type">Collection</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>


<li class="news_article document-row" id="news_article_390114">
          <h3><a href="/government/news/waiting-days-for-universal-credit-claimants-consultation-announced">Waiting days for Universal Credit claimants: consultation announced</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-09-19T10:01:52+01:00">19 September 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Social Security Advisory Committee">SSAC</abbr>
              </li>
        </ul>
</li>

<li class="consultation document-row" id="consultation_390108">
          <h3><a href="/government/consultations/waiting-days-for-universal-credit-claimants">Waiting days for Universal Credit claimants</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-09-19T10:00:00+01:00">19 September 2014</abbr>
            </li>
            <li class="display-type">Closed consultation</li>
              <li class="organisations">
                <abbr title="Social Security Advisory Committee">SSAC</abbr>
              </li>
        </ul>
</li>

<li class="consultation document-row" id="consultation_403895">
          <h3><a href="/government/consultations/universal-credit-data-sharing-with-social-landlords">Universal Credit data sharing with social landlords</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-09-19T09:00:00+01:00">19 September 2014</abbr>
            </li>
            <li class="display-type">Consultation outcome</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="case_study document-row" id="case_study_386182">
          <h3><a href="/government/case-studies/universal-credit-an-employers-perspective">Universal Credit: an employer’s perspective</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-09-12T09:31:32+01:00">12 September 2014</abbr>
            </li>
            <li class="display-type">Case study</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="case_study document-row" id="case_study_386132">
          <h3><a href="/government/case-studies/barnet-local-authority-preparing-for-universal-credit">Barnet Local Authority: preparing for Universal Credit</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-09-11T09:30:28+01:00">11 September 2014</abbr>
            </li>
            <li class="display-type">Case study</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="case_study document-row" id="case_study_385554">
          <h3><a href="/government/case-studies/bromford-housing-association-preparing-for-universal-credit">Bromford Housing Association: preparing for Universal Credit</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-09-11T09:30:23+01:00">11 September 2014</abbr>
            </li>
            <li class="display-type">Case study</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="case_study document-row" id="case_study_385533">
          <h3><a href="/government/case-studies/universal-credit-works-for-business">Universal Credit works for business</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-09-11T09:30:23+01:00">11 September 2014</abbr>
            </li>
            <li class="display-type">Case study</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="publication document-row" id="publication_363512">
          <h3><a href="/government/publications/evaluating-the-impact-of-universal-credit-on-the-labour-market">Evaluating the impact of Universal Credit on the labour market</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-07-22T10:23:10+01:00">22 July 2014</abbr>
            </li>
            <li class="display-type">Research and analysis</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="news_article document-row" id="news_article_360521">
          <h3><a href="/government/news/universal-credit-to-take-the-first-new-claims-for-couples">Universal Credit to take the first new claims for couples</a></h3>
          <ul class="attributes">
<li class="date">
              Updated
              <abbr class="published-at date" title="2014-07-16T11:56:47+01:00">16 July 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>


<li class="news_article document-row" id="news_article_348316">
          <h3><a href="/government/news/north-west-universal-credit-expansion">North west Universal Credit expansion</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-06-20T00:15:00+01:00">20 June 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="news_article document-row" id="news_article_327129">
          <h3><a href="/government/news/universal-credit-first-year-of-welfare-transformation-and-north-west-next-steps">Universal Credit: First year of welfare transformation and north west next steps</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-04-29T16:31:53+01:00">29 April 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>


<li class="news_article document-row" id="news_article_320499">
          <h3><a href="/government/news/universal-credit-starts-in-wales">Universal Credit starts in Wales</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-04-08T08:47:00+01:00"> 8 April 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>


<li class="news_article document-row" id="news_article_311577">
          <h3><a href="/government/news/7-ways-universal-credit-will-be-a-better-deal">7 ways Universal Credit will be a better deal</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-03-20T08:01:51+00:00">20 March 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="news_article document-row" id="news_article_302011">
          <h3><a href="/government/news/universal-credit-expands-to-bath-and-harrogate">Universal Credit expands to Bath and Harrogate</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-02-24T11:12:13+00:00">24 February 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="speech document-row" id="speech_293190">
          <h3><a href="/government/speeches/universal-credit-rolling-out-what-it-means-for-employers">Universal Credit rolling out – what it means for employers</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-01-29T10:51:52+00:00">29 January 2014</abbr>
            </li>
            <li class="display-type">Speech</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="publication document-row" id="publication_288512">
          <h3><a href="/government/publications/foi-query-universal-credit-process-for-if-a-claimant-refuses-to-accept-the-claimant-commitment">FOI query: Universal Credit – process for if a claimant refuses to accept the claimant commitment</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-01-16T14:58:12+00:00">16 January 2014</abbr>
            </li>
            <li class="display-type">FOI release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="news_article document-row" id="news_article_287641">
          <h3><a href="/government/news/universal-credit-on-the-red-button">Universal Credit on the Red Button</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-01-14T14:08:01+00:00">14 January 2014</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="publication document-row" id="publication_285762">
          <h3><a href="/government/publications/foi-query-universal-credit-job-search-trial-information-for-jobcentre-staff">FOI query: Universal Credit job search trial information for Jobcentre staff</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-01-08T16:45:43+00:00"> 8 January 2014</abbr>
            </li>
            <li class="display-type">FOI release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="publication document-row" id="publication_285776">
          <h3><a href="/government/publications/foi-query-universal-credit-claimant-commitment-example">FOI query: Universal Credit claimant commitment – example</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-01-08T14:27:07+00:00"> 8 January 2014</abbr>
            </li>
            <li class="display-type">FOI release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="publication document-row" id="publication_285678">
          <h3><a href="/government/publications/universal-credit-trials-before-oct-2013">Universal Credit trials before Oct 2013</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2014-01-07T13:23:12+00:00"> 7 January 2014</abbr>
            </li>
            <li class="display-type">FOI release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="speech document-row" id="speech_281831">
          <h3><a href="/government/speeches/universal-credit-working-together-for-improved-outcomes">Universal Credit: working together for improved outcomes</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2013-12-12T14:05:00+00:00">12 December 2013</abbr>
            </li>
            <li class="display-type">Speech</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="publication document-row" id="publication_278914">
          <h3><a href="/government/publications/universal-credit-pathfinder-evaluation-interim-results-from-the-universal-credit-claimant-survey-wave-1">Universal Credit pathfinder evaluation: interim results from the Universal Credit claimant survey, wave 1</a></h3>
          <ul class="attributes">
<li class="date">
              Updated
              <abbr class="published-at date" title="2013-12-05T10:59:31+00:00"> 5 December 2013</abbr>
            </li>
            <li class="display-type">Research and analysis</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="news_article document-row" id="news_article_279058">
          <h3><a href="/government/news/universal-credit-progress">Universal Credit progress</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2013-12-05T10:04:35+00:00"> 5 December 2013</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="news_article document-row" id="news_article_277614">
          <h3><a href="/government/news/universal-credit-encourages-people-to-look-for-jobs">Universal Credit encourages people to look for jobs</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2013-11-29T11:52:00+00:00">29 November 2013</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="news_article document-row" id="news_article_257429">
          <h3><a href="/government/news/public-accounts-committee-report-universal-credit-early-progress">Public Accounts Committee report: 'Universal Credit: early progress'</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2013-11-07T00:15:00+00:00"> 7 November 2013</abbr>
            </li>
            <li class="display-type">Government response</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>

<li class="publication document-row" id="publication_306969">
          <h3><a href="/government/publications/the-housing-benefit-and-universal-credit-size-criteria-miscellaneous-amendments-regulations-2013">Housing Benefit and Universal Credit (Size Criteria) (Miscellaneous Amendments) Regulations 2013: SSAC report</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2013-11-07T00:00:00+00:00"> 7 November 2013</abbr>
            </li>
            <li class="display-type">Independent report</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr> and <abbr title="Social Security Advisory Committee">SSAC</abbr>
              </li>
        </ul>
</li>

<li class="news_article document-row" id="news_article_254543">
          <h3><a href="/government/news/universal-credit-expands-to-london">Universal Credit expands to London</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2013-10-28T00:15:00+00:00">28 October 2013</abbr>
            </li>
            <li class="display-type">Press release</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>


<li class="news_article document-row" id="news_article_235381">
          <h3><a href="/government/news/response-to-the-nao-report-universal-credit-early-progress">Response to the NAO report 'Universal Credit: early progress'</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2013-09-05T09:05:17+01:00"> 5 September 2013</abbr>
            </li>
            <li class="display-type">Government response</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>


<li class="speech document-row" id="speech_234914">
          <h3><a href="/government/speeches/universal-credit-the-first-100-days">Universal Credit: the first 100 days</a></h3>
          <ul class="attributes">
<li class="date">
              Published
              <abbr class="published-at date" title="2013-09-03T12:46:41+01:00"> 3 September 2013</abbr>
            </li>
            <li class="display-type">Speech</li>
              <li class="organisations">
                <abbr title="Department for Work and Pensions">DWP</abbr>
              </li>
        </ul>
</li>


</ol>
</section><nav id="show-more-documents" role="navigation"><ul class="previous-next-navigation">
<li class="next"><a href="/government/policies/making-schools-and-colleges-more-accountable-and-giving-them-more-control-over-their-budget/activity?page=2">Next <span class="visuallyhidden">page</span> <span class="page-numbers">2 of 7</span></a></li>

    </ul></nav>
</div>
  </div>
  <div class="block-5">
    <div class="inner-block">
      <div class="document-footer-meta js-footer">
  <div id="history" class="history">
    <dl class="primary-metadata">
<dt>Published:</dt>
        <dd><abbr class="date" title="2013-04-16T10:00:00+01:00">16 April 2013</abbr></dd>
          <dt>Updated:</dt>
          <dd><abbr class="date" title="2014-10-10T09:27:34+01:00">10 October 2014</abbr></dd>
    </dl>

  </div>
  <div class="links">
    <dl class="primary-metadata js-track-metadata-links" data-trackposition="bottom">
<dt>From:</dt>
          <dd class="from"><a href="/government/organisations/department-for-work-pensions" class="organisation-link">Department for Work and Pensions</a></dd>

    </dl>
</div>
</div>

    </div>
  </div>
</article><!-- report_a_problem -->
<div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/government/policies/helping-people-to-find-and-stay-in-work"><input id="source" name="source" type="hidden" value="inside_government"><input id="page_owner" name="page_owner" type="hidden" value="dwp"><p>Please don't include any personal or financial information,
          for example your National Insurance or credit card numbers.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text"><label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text"><div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>

        <!--<p>If you have more extensive feedback, please visit the <a href="/feedback">support page</a>.</p>-->
      </form>
    </div>
  </div>
</div>
<!-- end report_a_problem -->
    </div>
  </main>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo"><div class="footer-wrapper">
          <div class="footer-categories">
    <div class="footer-explore">
      <h2>Services and information</h2>

      <ul>
<li><a href="/browse/benefits">Benefits</a></li>
        <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
        <li><a href="/browse/business">Business and self-employed</a></li>
        <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
        <li><a href="/browse/justice">Crime, justice and the law</a></li>
        <li><a href="/browse/disabilities">Disabled people</a></li>
        <li><a href="/browse/driving">Driving and transport</a></li>
        <li><a href="/browse/education">Education and learning</a></li>
      </ul>
<ul>
<li><a href="/browse/employing-people">Employing people</a></li>
        <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
        <li><a href="/browse/housing-local-services">Housing and local services</a></li>
        <li><a href="/browse/tax">Money and tax</a></li>
        <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
        <li><a href="/visas-immigration">Visas and immigration</a></li>
        <li><a href="/browse/working">Working, jobs and pensions</a></li>
      </ul>
</div>

    <div class="footer-inside-government">
      <h2>Departments and policy</h2>

      <ul>
<li><a href="/government/how-government-works">How government works</a></li>
        <li><a href="/government/organisations">Departments</a></li>
        <li><a href="/government/world">Worldwide</a></li>
        <li><a href="/government/policies">Policies</a></li>
        <li><a href="/government/publications">Publications</a></li>
        <li><a href="/government/announcements">Announcements</a></li>
      </ul>
</div>
    <hr>
</div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
<li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/cymraeg">Cymraeg</a></li>
  <li>Built by the <a href="https://gds.blog.gov.uk/">Government Digital Service</a>
</li>
</ul>
<div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer><!--end footer--><div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-1d29c0379552e7f7ab67500dea47df2d.js" type="text/javascript"></script><script src="https://assets.digital.cabinet-office.gov.uk/static/libs/jquery/jquery-1.7.2-2ce4706f8f7193defaa9e7df2b641e9a.js" type="text/javascript"></script><script src="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-1414a4e8311a8da12f7857897c05ca20.js" type="text/javascript"></script><script id="ga-params" type="text/javascript">
  window.GOVUK = window.GOVUK || {};

  GOVUK.Analytics = GOVUK.Analytics || {};
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26179049-1']);
  if(document.domain=='www.gov.uk') {
    _gaq.push(['_setDomainName', '.www.gov.uk']);
  } else {
    _gaq.push(['_setDomainName', document.domain]);
  }
  _gaq.push(['_setAllowLinker', true]);
    // track pixel density ratio
  if (window.devicePixelRatio) {
    _gaq.push(['_setCustomVar', 11, 'Pixel Ratio', String(window.devicePixelRatio), 2 ]);
  }
  // Search result placement tracking, set custom var and destroy the cookie
  if(GOVUK.cookie && GOVUK.cookie('ga_nextpage_params') !== null){
    var customVar = GOVUK.cookie('ga_nextpage_params').split(',');
    customVar[1] = parseInt(customVar[1], 10);
    customVar[4] = parseInt(customVar[4], 10);
    _gaq.push(customVar);
    GOVUK.cookie('ga_nextpage_params', null);
  }
_gaq.push(["_setCustomVar",9,"Organisations","<D10><D15>",3]);
GOVUK.Analytics.Organisations = "<D10><D15>";
_gaq.push(["_setCustomVar",2,"Format","policy",3]);
GOVUK.Analytics.Format = "policy";</script><script type="text/javascript">
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script><script src="https://assets.digital.cabinet-office.gov.uk/government/assets/application-792571cf88ca25db10ab84a302fdeef3.js" type="text/javascript"></script><script type="text/javascript">
//<![CDATA[
GOVUK.init(GOVUK.trackMetadataLinks, {});

//]]>
</script>
</body>
</html>
